*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* header  */

/* main sections/////////////////////////////////////////////////////////////////////////////// */
/* main section-1 */


/* .bg-box{ */
    /* background-color: rgba(0, 0, 0, 0.291); */
    /* width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap; */
/* } */

/* .sec-1{ */
    /* background-image: url("https://oenodpay.vercel.app/images/rectangle-20927.png"); */
    /* height: auto; */
    /* width: 100%; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: left; */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
/* } */


/* section-2 */
.sec-2{
    height: auto;
    background-color: white;
    display: flex;
    padding: 80px 32px 80px 32px;
    align-items: center;
    
}
.sec-2_articles{
    margin: 0px 86.800px;
    /* width: 1280px;
    height: 397.600px; */
}
.sec-2_art-2{
    gap: 20px;
    margin: 64px 0px 48px 0px;
}
main{
    background-color: white;
}

.sec-2_cantainer{
    border: 0.80px solid rgba(216, 204, 204, 0.777);
    display: flex;
    border-radius: 0.8em;
     padding: 24px;
     gap: 20px;
     width: 20vw;
    flex-direction: column; 
    background-color: #f0f0f1c6;
    transition: 0.5s all;
    
}
.sec-2_cantainer:hover{
    transition: 0.5s all;
    background-color: #1583e9;
}
.sec-2_cantainer:hover
 h3 {
    transition: 0.5s all;
    color: aliceblue;
}
.sec-2_cantainer:hover p {
    transition: 0.5s all;
    color: aliceblue;
}
.sec-2_cantainer:hover .sec-2_ion {
    transition: 0.5s all;
    background-color: rgba(255, 255, 255, 0.46);
}

/* section-3 */
.sec-3{
    height: auto;
    padding: 112px 32px ;
    background-color: white;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.sec-3_svg{
    height: 14vh;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.svg{
    width: 80vw;
}
/* articles */
.sec-3_articles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.art-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.art-1 h2{
    flex-wrap: wrap;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.sec-3_ionbar{
    padding: 8px 16px;
    border-radius: 20px;
    margin-bottom: 25px;
}
/* article-2 */
.art-2{
 gap: 20px;
 margin: 80px 0px;
}
.sec-3_container{
     border: 0.80px solid rgba(216, 204, 204, 0.777);
    display: flex;
    height: 302px;
    border-radius: 0.8em;
     padding: 24px;
     gap: 20px;
     width: 297px;
    flex-direction: column; 
}
.sec-3_ion{
    background-color: #0e198f;
    width: 56px;
    height: 56px;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}
/* article-3 */
.art-3{
    border: 6px solid #1583e911;
    border-radius: 20px;
    padding: 32px;
    width: 60vw;
    gap: 60px;
}

.art-3>div{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 70%;
}
.art-3>div>p{
    line-height: 25px;
}
.art-3 button{
    border-radius: 10px;
    padding:0px 0px;
    width: 25%;
    height: 7vh;
    margin-top: 20px;
}
/* section-4  */
.sec-4{
    height: auto;
    padding: 80px 32px 60px 32px;
    background-color:rgba(240, 248, 255, 0.368);
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.sec-4_articles{
    margin: 0% 86px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sec-4_art-2{
    display: flex;
    justify-content: center;
}

.img-sec4 img{
    width: 616px;
    height:384.79px ;
    border: 0.80px solid rgba(216, 204, 204, 0.777);
    border-radius: 15px;
}
.sec-4_container{
    width: 582.400px;
    border-radius: 15px;
    background-color: white;
    border: 0.80px solid rgba(216, 204, 204, 0.777);
    padding: 16px;
    margin-bottom: 24px;
    
}
/* section-5  */
.sec-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 32px 60px 32px;
    gap: 40px;
}
.sec-5_monthly-annual{
    background-color:rgba(240, 248, 255, 0.368);
    /* padding: 16px 27px; */
    border: 0.80px solid rgba(216, 204, 204, 0.777);
    border-radius: 2em;
}
.sec-5_monthly-annual button{
    border: none;
    background-color: rgba(240, 248, 255, 0.368);
    padding: 14px 25px;
    border-radius: 2em;
}
.sec-5_monthly-annual button:hover{
    background-color: #0d56e9;
    color: aliceblue;
}

.xy{
    justify-content: center;
}